<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="<%= htmlWebpackPlugin.options.viewport %>" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <h1>
      HIHI~~~
      <span> 555</span>
    </h1>
    <div class="img"></div>
    <div class="base64"></div>
    <div class="jpgBox"></div>
    <div class="svgBox"></div>
    <div class="gifBox"></div>
  </body>
</html>
