@font-face {
  font-family: 'icomoon';
  src: url('~fonts/icomoon.eot?89sxmc');
  src: url('~fonts/icomoon.eot?89sxmc#iefix') format('embedded-opentype'),
    url('~fonts/icomoon.ttf?89sxmc') format('truetype'), url('~fonts/icomoon.woff?89sxmc') format('woff'),
    url('~fonts/icomoon.svg?89sxmc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
